<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnString" connectionString="server='YB\USER_YB';database=OilDataManage;uid=sa;pwd='yb1234'" /><add name="Model1Container" connectionString="metadata=res://*/Busi.Model1.csdl|res://*/Busi.Model1.ssdl|res://*/Busi.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YB\USER_YB;Initial Catalog=NIRCeneter;User ID=sa;Password=yb1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /><add name="NIRCeneterEntities" connectionString="metadata=res://*/Busi.Model1.csdl|res://*/Busi.Model1.ssdl|res://*/Busi.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=YB\USER_YB;Initial Catalog=NIRCeneter;User ID=sa;Password=yb1234;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <appSettings>
    <add key="EnableCaching" value="true" />
    <add key="OilTableColCacheDuration" value="12" />
    <add key="OilTableRowCacheDuration" value="12" />
    <add key="OilInfosDuration" value="12" />
    <add key="CacheDependencyAssembly" value="RIPP.OilDB.TableCacheDependency" />
    <add key="CacheDatabaseName" value="OilDataManage" />
    <add key="OilTableColDependency" value="OilTableCol" />
    <add key="OilTableRowDependency" value="OilTableRow" />
    <add key="OilInfosDependency" value="OilInfo" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add name="OilDataManage" connectionStringName="SQLConnString" pollTime="10000" />
        </databases>
      </sqlCacheDependency>
    </caching>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>