<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OilDataManageEntities" connectionString="metadata=res://*/LI.Model1.csdl|res://*/LI.Model1.ssdl|res://*/LI.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=OilDataManage;User ID=li;Password=li;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="SQLConnString" connectionString="server=.;database=OilDataManage;uid=li;pwd=li" />
  </connectionStrings>
</configuration>