<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="SQLConnString" connectionString="server=www.imetric.cn; database=OilDataManage;user id=ripp;password=ripp" />
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
