@{
    ViewBag.Title = "找回密码";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
<link rel="stylesheet" href="/css/compiled/signin.css" type="text/css" media="screen" />
<script type="text/javascript">
    $(function () {
        //$(".registerform").Validform();  //就这一行代码！;
        $("form").Validform({
            tiptype: 2
        });
    })
</script>
@using (Html.BeginForm())
{
  
    <div class="login-wrapper">
        <br />
        <br />
        <br />
        <div class="box">
            <div class="content-wrap">
                <h6>找回密码</h6>
                @if (ViewBag.Msg != null)
                {
                    <p class="alert alert-danger">
                        @Html.Raw(ViewBag.Msg)
                    </p>
                }
                @if (ViewBag.ok == false)
                {
                    <input class="form-control" type="text" name="email" id="email" placeholder="Email" datatype="e" nullmsg="请输入邮箱！" errormsg="您输入的邮箱格式有误！" />

                    <button class="btn-glow primary login">立即找回</button>
                }
            </div>
        </div>

        <div class="no-account">
            <p>我还没有账号，</p>
            <a href="/account/signup">马上注册</a>
            <br />
            <p>我是校内用户,马上用</p>
            <a href="/account/CASSignin">校内账户登录</a>
        </div>
    </div>
}


<div class="clearfix" style="clear: both; height: 500px;"></div>
