body {
    background: url("/img/backgrounds/silver.jpg") no-repeat center center fixed;
        filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/backgrounds/silver.jpg', sizingMethod='scale');
        -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/backgrounds/silver.jpg', sizingMethod='scale')";
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

.dl-horizontal dt
{
    width: 80px !important;
}
.dl-horizontal dd
{
    margin-left: 90px;
}
.container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 940px;
    min-width:940px;
}


/*Validation*/
.Validform_checktip{
	margin-left:8px;
	line-height:40px;
	height:40px;
	overflow:hidden;
	color:#999;
	font-size:12px;
}
.Validform_right{
	color:#71b83d;
	padding-left:20px;
	background:url(images/right.png) no-repeat left center;
}
.Validform_wrong{
	color:red;
	padding-left:20px;
	white-space:nowrap;
	background:url(images/error.png) no-repeat left center;
}
.Validform_loading{
	padding-left:20px;
	background:url(images/loading.gif) no-repeat left center;
}
.Validform_error{
	background-color:#ffe7e7;
}
#Validform_msg{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:280px; -webkit-box-shadow:2px 2px 3px #aaa; -moz-box-shadow:2px 2px 3px #aaa; background:#fff; position:absolute; top:0px; right:50px; z-index:99999; display:none;filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color='#999999'); box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);}
#Validform_msg .iframe{position:absolute; left:0px; top:-1px; z-index:-1;}
#Validform_msg .Validform_title{line-height:25px; height:25px; text-align:left; font-weight:bold; padding:0 8px; color:#fff; position:relative; background-color:#999;
background: -moz-linear-gradient(top, #999, #666 100%); background: -webkit-gradient(linear, 0 0, 0 100%, from(#999), to(#666)); filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#999999', endColorstr='#666666');}
#Validform_msg a.Validform_close:link,#Validform_msg a.Validform_close:visited{line-height:22px; position:absolute; right:8px; top:0px; color:#fff; text-decoration:none;}
#Validform_msg a.Validform_close:hover{color:#ccc;}
#Validform_msg .Validform_info{padding:8px;border:1px solid #bbb; border-top:none; text-align:left;}

/*End validation*/
.calendarNav
{
    height: 50px;
}
.calendarNav span
{
    display: block;
    line-height: 28px;
    padding: 4px;
    float: left;
}



.mytable {
    border: solid 1px #e8eef4;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-collapse:collapse;
    
}

.mytable td {
    padding: 3px;
    border: solid 1px #e8eef4;
    background-color: #FFFFFF;
    vertical-align:middle;
}

.mytable th {
    padding: 6px 5px;
    text-align: center;
    background-color: #f9f9f9;
    border: solid 1px #e8eef4;
    vertical-align:middle;
}
.smalltable
{
    font-family: 宋体;
    font-size: 12px;
}
    .smalltable .title
    {
        text-align:center;
        font-size:14px;
        font-weight:bold;
    }


.mylist li { line-height:28px;  overflow:hidden; padding-left:5px;list-style-type:circle; list-style-position:inside;  border-bottom:1px dashed #eee; }
.mylist li em{ float:right; font-style:normal; font-size:12px;}
.panel-heading
{
    font-size: 16px !important;
}
.nav-pills li a
{
    font-size: 16px;
}

.text-muted
{
    font: "宋体" 12px;
}

.contents {
    word-wrap:break-word;
}
.contents table td{border:1px solid gray;} 